* {
    font-family: 'Sora', sans-serif;
    width: 1280px;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}

.star-icon {
    background-color: #F5C044;
    background-repeat: no-repeat;
    background-size: 50px;
}

.heading{
    font-size: 2.25rem;
}
.p-text{
    font-size: 1.25rem;
}
.checkbox-tex{
    font-size: 0.87rem;
}

.main-container{
    display: flex;
}